@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded/Unbounded-VariableFont_wght.ttf');
}
